<!-- FOOTER -->

<section id="footer">

	<div class="container">
		
		<div class="row">
			<div class="col-md-9">
				<p><a href="">CREDITS</a> | <a href="">PRIVACY</a> | <a href="">OUR TEAM</a></p>
				<p>Copyright &copy; 2017 by Nestlé Nespresso S.A. All rights reserved.</p>

				<a href="mailto:info@nespresso.com?" target="_top"><span class="glyphicon glyphicon-envelope"></span> info@nespresso.com</a> |
				<a href="tel:+1-800-562-1465"><span class="glyphicon glyphicon-earphone"></span> 1-800-562-1465</a> |
				<a href="tel:+1-877-964-6299"><span class="glyphicon glyphicon-earphone"></span> 1-877-964-6299</a>
		
			</div>

			<div class="col-md-3">
				<p>Nespresso USA Inc. 24-01 44th Road, 12th Floor Long Island City, NY 11101</p>
			</div>



		</div>
		
	</div>

</section>

<!-- END FOOTER -->